@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Courier Prime Font */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  letter-spacing: 0.5px;
  font-smooth: subpixel-antialiased;
}
body {
  color: #8c8c8e;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 12px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.App {
  width: 500px;
  max-width: 90vw;
  margin: 20px auto 0;
  height: 1500px;
}

.swiper {
  width: 100%;
  height: 100%;
  /* background: orange; */
  max-width: 900px;
  margin: 0;
}

.swiper-slide {
  font-size: 18px;
  padding-block: 20px;

  /* Center slide text vertically */
  width: 200px;
}


/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */

.swiper {
  width: auto;
  height: auto;
  max-width: 900px;
  margin: 20px auto;
  padding-inline: 20px;
}

.inputfocus:focus + label {
  background: #ffc107;
  color: #20202a;
  transition: 0.4s ease-in-out;
}

.artinput {
  position: relative;
  margin-bottom: 30px;
  transition: 0.4s ease-in-out;
}

.swiper-wrapper {
  position: relative;
  width: fit-content;
  transform: translate3d(-394px, 0px, 0px);
  transition-duration: 0ms;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  /* background-color: green; */
}

.art-info-bar-btn {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-left: auto;
  pointer-events: all;
  font-size: 14px;
  padding: 30px;
}
.hand-menu {
  transform: translateX(0);
}
.art-notactive {
  transform: translateX(0px);
  transition: 0.55s ease-in-out;
}
.art-active {
  transform: translateX(290px);
  position: absolute;
  transition: 0.1s ease-in-out;
}

.filter-container {
  position: relative;
  height: max-content !important;
}
.filter-item {
  position: unset !important;
}

.art-info-bar {
  transition: 0.55s ease-in-out;
  background-color: #ffc107;
}
.use-theme-bg {
  background-color: #2d2d39 !important;
}

::-webkit-scrollbar {
  margin-top: 2px;
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #20202a;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 10px;
}
